.navbar-container {
  display: flex;
  align-items: center;
  padding: 10px 40px;
  background-color: #2c0e3a;
}

.nav-logo {
  margin-right: auto;
}

.website-logo {
  width: 150px;
}

.score-and-time {
  display: flex;
  margin-left: auto;
}

.score {
  color: #ffffff;
  margin-top: 20px;
  margin-right: 35px;
  font-weight: 500;
  font-size: 18px;
}

.numeric {
  color: #fec653;
  font-weight: 500;
  font-size: 18px;
  margin: 0px;
}

.timer-container {
  display: flex;
  align-items: center;
}

.timer {
  width: 20px;
  margin-right: 6px;
}

@media screen and (max-width: 576px) {
  .navbar-container {
    line-height: 5px;
    padding: 10px 20px;
  }

  .website-logo {
    width: 100px;
  }

  .score {
    margin-right: 10px;
    font-size: 15px;
  }

  .numeric {
    font-size: 16px;
  }
}
